h1,
h2,
h3,
h4,
h5,
h6,
.title {
    line-height: 100%;
    text-transform: uppercase;
    span {
        display: inline-block;
    }
    &.-center {
        text-align: center;
    }
}

.subtitle {
    font-size: 1.5rem;
    font-weight: normal;
    display: block;
    text-transform: initial;
}

h1 {
    font-size: 3.5rem;
    margin: 1rem 0;
    &.-lg {
        font-size: 7rem;

        @media (max-width: $desktop-lg) {
            font-size: 5rem;
        }
        @media (max-width: $mobile) {
            font-size: 3rem;
        }
    }
}

h2 {
    font-size: 3rem;
    font-weight: 100;
}