.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: $black;
    color: $white;
    text-decoration: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;

    &.-green {
        background: $green-light;
    }

    &.-sm {
        font-size: 1rem;
        padding: 0.5rem 2rem;
        margin-top: 50px;
    }
}