.contact {
    input,
    textarea {
        font-size: 1.25rem;
        background: darken($white, 3);
        padding: 1rem;
        width: 100%;
        border: none;
        outline: none;
        font-family: $font;
        margin-top: 2rem;
        @media (max-width: $mobile) {
            font-size: 1rem;
            padding: 1rem;
        }
    }

    textarea {
        height: 300px;
    }

    button {
        margin-top: 1rem;
        border: none;
        padding: 10px 40px;
        background: $black;
        font-size: 1.25rem;
        color: $white;
        cursor: pointer;
    }
}