.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: $white;
    box-shadow: 0 -5px 20px rgba($black, .1);
    ._wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 480px) {
            display: block;
        }
    }

    .btn {
        margin: 0 0 0 2rem;
        @media (max-width: 480px) {
            margin: 1rem 0 0 0;
        }
    }
}