.menu__toggle {
    position: fixed;
    right: 2rem;
    top: 2rem;
    width: 45px; 
    height: 45px;
    border-radius: 5px;
    background: $white;
    cursor: pointer;
    z-index: 2;
    font-size: 1.5rem;

    @media (max-width: $mobile) {
        top: 0.2rem;
        right: 0.2rem;
    }

    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

nav {
    position: fixed;
    z-index: 1;
    height: 100%;
    transition: all .2s ease-in-out;
    padding: 2rem;
    background: white;
    box-shadow: -3px 0 15px rgba(black, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    visibility: hidden;
    opacity: 0;

    a {
        text-decoration: none;
        color: $black;
        margin: 0.5rem 0;
    }

    &.is-active {
        visibility: visible;
        opacity: 1;
    }
}