.reflects {
    list-style: none;
    padding: 0;
    margin: 3rem auto;
    padding: 0;

    li {
        flex: 1 0 0;
        cursor: pointer;
        counter-increment: reflectItem;
        border-top: 1px solid rgba($black, .1);
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 43px;
            transform: translate(-200%, -50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            @media (max-width: $mobile) {
                top: 28px;
            }
        }

        ._expand {
            padding: 2rem 0;
            display: flex;
            justify-content: space-between;

            @media (max-width: $mobile) {
                padding: 1rem 0;
            }
        }
        ._title {
            font-size: 1.15rem;
            position: relative;
            padding-left: 2rem;
            &:before {
                content: '0'counter(reflectItem)'.';
                position: absolute;
                top: 0;
                left: 0;
                font-weight: bold;
                // font-size: 1.5rem;

                
            }

            @media (max-width: $mobile) {
                font-size: 1rem;
            }
        }
        ._button {
            border: none;
            background: none;
            font-size: 1.5rem;
            color: $black;
            margin-left: 2rem;

            &:after {
                content: "+"
            }
        }

        ._form {
            margin-bottom: 2rem;
            margin-left: 2rem;
            display: none;

            @media (max-width: $mobile) {
                margin-left: 0rem;
            }
            textarea {
                font-size: 1.5rem;
                background: $white;
                padding: 2rem;
                width: 100%;
                border: none;
                outline: none;
                font-family: $font;
                @media (max-width: $mobile) {
                    font-size: 1rem;
                    padding: 1rem;
                }
            }
        }

        &.is-active {
            ._form {
                display: block;
            }
            ._button {
                &:after {
                    content: "-"
                }
            }
        }

        &.is-empty {
            &:before {
                background-color: $red;
            }
        }

        &.is-not-empty {
            &:before {
                background-color: $green-light;
            }
        }
    }
}