.tasks {
    list-style: none;
    padding-left: 0;
    li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 20px;
        counter-increment: li;

        &:before {
            content: counter(li);
            position: absolute;
            top: 5px;
            left: 0;
            padding: 2px 5px;
            background: rgba($black, .2);
            color: white;
        }
    }
}