.cols {
    position: relative;
    display: flex;
    margin: 0 2rem;
    flex-wrap: wrap;
    .col {
        position: relative;
        margin: 0 1rem;
        flex: 1 1 0;
        display: flex;
        min-width: 350px;

        & > * {
            width: 100%;
        }

        &-1 {
            @extend .col;
            flex: 1 1 0;
        }

        &-2 {
            @extend .col;
            flex: 2 1 0;
        }

        &-3 {
            @extend .col;
            flex: 2 1 0;
        }
    }

}