.cols {
    position: relative;
    display: flex;
    margin: 0 2rem;
    flex-wrap: wrap;

    @media (max-width: $mobile) { 
        margin: 0 1rem;
    }
    .col {
        position: relative;
        margin: 0 1rem;
        flex: 1 1 0;
        display: flex;
        min-width: 350px;

        @media (max-width: $mobile) {
            min-width: 0;
            flex: 1 1 100%;
        }

        & > * {
            width: 100%;
        }

        &-1 {
            @extend .col;
            flex: 1 1 0;
            @media (max-width: $mobile) {
                flex: 1 1 100%;
            }
        }

        &-2 {
            @extend .col;
            flex: 2 1 0;
            @media (max-width: $mobile) {
                flex: 2 1 100%;
            }
        }

        &-3 {
            @extend .col;
            flex: 2 1 0;
            @media (max-width: $mobile) {
                flex: 2 1 100%;
            }
        }

        &.-m-bottom {
            margin-bottom: 2rem;
        }
    }

}