.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

section {
    margin: 5rem 0;
}

.section {
    &--lg {
       margin: 10rem 0;
    }
}

.block {
    position: relative;
    padding: 50px 0;
    &.-bg {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            height: 100%;
            transform: translate(-50%);
            background: rgba($black, .05);
        }
    }

    &.-book {
        &:before {
            background: $green;
        }
    }
}

.content {
    max-width: 650px;
}

.m-hidden {
    @media (max-width: $tablet) {
        display: none !important;
    }
}