.f {
    &-justify {
        &--center {
            justify-content: center;
        }
        &--end {
            justify-content: flex-end;
        }
    }

    &-align {
        &--center {
            align-items: center;
        }
        &--start {
            align-items: flex-start;
        }
    }

    &-direction {
        &--column {
            flex-direction: column;
        }
    }
}