footer {
    background-color: $black;
    padding: 20px 0;
    position: relative;
}

.footer  {
    position: relative;
    padding: 100px 40px 20px;
    background-color: darken($black, 1);

    @media (max-width: $tablet ) {
        padding: 100px 0 20px;
        position: relative;
    } 
}

.footer {
    &-logo {
        width: 32px;
    }

    &-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            flex: 1 1 0;
            margin: 0 1rem 1rem;
        }

        a {
            color: rgba(white, .5);
            text-decoration: none;
        }
    }

    &__desc {
        color: $white;
        margin-bottom: 100px;
        h2 {
            color: $white;
            span {
                font-size: .5em;
            }
        }
    }

    &__img {
        margin-top: 40px;
        max-width: 350px;
        @media (max-width: $tablet) {
            margin-top: 0;
        }
    }

    &-cc {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        p {
            opacity: .25;
            color: $white;
            margin-right: 10px;
            font-size: .85rem;
        }
        img {
            margin-right: 5px;
            opacity: .25;
            width: 25px;
        }
    }
}