header {
    @media (max-width: $mobile) {
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 1;
        box-shadow: 0 0 10px rgba($black, .1);
    }
}